<br />
<hr />
<footer>
  <div>
    <ul class="list-inline text-center footer-links">
      <!-- Links and icons -->
      {{ range .Site.Data.davitogo.social.social_icons }}
        {{- if isset $.Site.Author .id }}
          <li>
            <a href="{{ printf .url (index $.Site.Author .id) }}" title="{{ .title }}">
              <span class="fa-stack fa-sm">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="{{ .icon }} fa-stack-1x fa-inverse"></i>
              </span>
            </a>
            
          </li>
        {{- end -}}
      {{ end }}
      </ul>
  </div>
  <div>
    <a href="/privacy">Privacy</a>
    <span>Last update: {{ now.Format "Jan 2, 2006 15:04 (MST)" }}</span>
  </div>
</footer>

footer-end